.container {
    display: grid;
    gap: 1% 1%; 
    grid-template-areas:". . . s s . . ."
                        "h h i i i i a a"
                        "h h i i i i a a"
                        ". . t t t t . ."
                        ". . . . . . . .";
    justify-items: center;
}

.score { grid-area: s; }

.image { 
    grid-area: i;
    width: 512px;
    height: 512px;
    border: 1px solid;
}

.btn_start { grid-area: t; }

.help { 
    grid-area: h;
    display: grid;
    align-content: center;
    justify-items: center;
 
}
.answer {
    grid-area: a;
    justify-content: center;
 }
